ClickUp/
Android Open Source Project/
app.yaak.desktop/
ags/
Code/
GitKraken/
Google/
JetBrains/
Kvantum/
Postman/
QtProject.conf
QtProject/
Slack/
Termius/
Thunar/
Unknown Organization/
VirtualBox/
autostart/
balenaEtcher/
cava/
composer/
create-next-app-nodejs/
dconf/
discord/
dunst/
eog/
evolution/
font-manager/
fontconfig/
github-copilot/
google-chrome/
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
jgit/
kde.org/
libreoffice/
lxqt/
menus/
mimeapps.list
neofetch/
nextjs-nodejs/
obs-studio/
okularrc
pavucontrol.ini
pipewire/
psysh/
pulse/
qt5ct/
qt6ct/
rncbc.org/
rustdesk/
session/
spotify/
swappy/
systemd/
tmux/
trashrc
user-dirs.dirs
user-dirs.locale
vlc/
wal/
wofi/
xfce4/
zoom.conf
zoomus.conf
